/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arima Madurai', cursive;
}

.container {
    color: white;
    text-shadow: 1px 1px black;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    background: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486); 

}

h1 {
    text-align: center;
    padding: 2rem 0;
}

#clock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    width: 220px;
    margin: 3rem auto;
    border: 2px solid white;
    border-radius: 50%;
}

.hands {
    position: absolute;
    height: 5px;
    width: 180px;
}

#sec::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 90px;
    background: tomato;
    z-index: 1;
}

#min::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 90px;
    background: blue;
    z-index: 1;
}

#hr::before {
    position: absolute;
    content: "";
    height: 5px;
    width: 90px;
    background: yellow;
    z-index: 1;
}

/* DO NOT USE ID or CLASS USE Pseudo Selector to show 50% visibility of the Elements */

/* #min {
    background: #6d3375;
    z-index: 2;
} */

/* #hr {
    background: limegreen;
} */

.num {
    position: relative;
}

#twelve {
    bottom: 100px;
    left: 11px
}

#three {
    left: 100px;
}

#six {
    top: 100px;
    left: -8px;
}

#nine {
    right: 118px;
}